<template>
  <button :type="type" class="btn">
    <slot> </slot>
  </button>
</template>
<script>
export default {
  name: "Button",
  props: {
    type: {
      type: String,
      default: "text",
    },
  },
};
</script>
<style lang="scss" scoped>
.btn {
  margin: 0;
  padding: 0;
  width: 56px;
  height: 34px;
  background-color: #42b983;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 8px;
  will-change: background-color;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.2);
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: darken(#42b983, 10%);
  }
}
</style>