<template>
  <ul class="list">
    <slot> </slot>
  </ul>
</template>
<script>
export default {
  name: "List",
};
</script>
<style lang="scss" scoped>
.list {
  margin: 32px auto;
  padding: 0;
  width: 20vw;
  li {
    padding: 0;
    list-style: none;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px gray;
    cursor: pointer;
  }
}
</style>